Source: wdb-bilload  
Section: science
Priority: extra
Maintainer: Michael AKinde <wdb@met.no>
Build-Depends: debhelper (>= 5),
 autotools-dev,
 libwdbload1
Build-Conflicts: autoconf2.13,
 automake1.4
Standards-Version: 3.9.1

Package: wdb-bilload
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libwdbload1
Description: A loading program for transferring gridded data that has been
 stored in (met.no) BIL files into wdb.